# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
venv/
env/

# Data files
data/raw/*
data/processed/*
data/predictions/*

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# Docker
*.log

# Others
packages.microsoft.gpg
Dockerfile
docker-compose.yml
